// _vars.scss
@use 'sass:color';

// Colors
$c-dark-orange: #b2341a;
$c-accent-orange: #f9512e;
$c-light-orange: #fba28f;
$c-light-pink: #ffeefc;
$c-light-blue: #eef7ff;
$c-black: #1c1a26;
$c-grey: #7f8096;
$c-white: #fff;

// Fonts
$font-main: 'Inter', sans-serif;

// Font sizes — large Desktop
$fs-h1-xl-desktop: 144px;
$fs-h2-xl-desktop: 72px;

// Font sizes — Desktop
$fs-h1-desktop: 135px;
$fs-h2-desktop: 72px;

// Font sizes — Tablet
$fs-h1-tablet: 80px;
$fs-h2-tablet: 56px;

// Font sizes — Mobile
$fs-h1-mobile: 64px;
$fs-h2-mobile: 48px;
$fs-body: 16px;

// line-height
$lh-headings: 0.85;
$lh-body: 1.5;

// letter-spacing
$ls-headings: -0.07em;
$ls-body: -0.01em;

// Breakpoints
$bp-mobile: 320px;
$bp-tablet: 640px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1440px;

// Container
$container-width: 1440px;
$container-padding-xl: 124px;
$container-padding-desktop: 44px;
$container-padding-tablet: 44px;
$container-padding-mobile: 16px;

// Header
$header-padding-xl: 36px;
$header-padding-y-xl: 32px;
$header-padding-x-xl: 36px;
