// src\styles\base\_base.scss
@use '../utils' as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

html.no-scroll {
  overflow: hidden;
}

html,
body {
  overflow-x: hidden;
  min-width: $bp-mobile;
}

body {
  font-family: $font-main;
  font-size: 16px;
  line-height: $lh-body;
  color: $c-black;

  background-color: $c-light-blue;
}
